* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

body {
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

/* html, body, #app {
  height: 100%;
} */

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 24px;
}

.section {
  padding: 100px 0;
}

h1 {
  font-size: clamp(2.5rem, 7vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-bottom: 40px;
}

p {
  line-height: 1.8;
  font-size: clamp(1rem, 1.5vw, 1.1rem);
}

@media (max-width: 768px) {

  .section {
    padding: 70px 0;
  }

  .container {
    padding: 0 18px;
  }

}